.main-form {
    margin: 200 auto;
    width: 900px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    
    border-radius: 10px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vehicle-inputs1 {
    
    max-height: 500px;
    margin-left: 560px;
    margin-top: 210px;
    transform: translate(-50%, -50%);
    width: 190px;
    
    
    
    display: flex;
    flex-direction: column;
    
}

.vehicle-inputs2 {
    position: absolute;
    max-height: 500px;
    margin-left: 320px;
    margin-top: 114px;
    transform: translate(-50%, -50%);
    width: 190px;
    
    
    
    display: flex;
    flex-direction: column;
    
}


.input-control {
   
    
    display: block;
}


.submit-btn {
    
    margin-top: -100px;
    margin-left: 150px;
    font-size: 17px;
}

#title {
    position: absolute;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 290px;
}



.img-upload {
    position: absolute;
    margin-top: 40px;
    margin-left: 94px;
    height: auto;
    
    
}

.upl {
    font-size: 13px;
    margin-top: 20px;
    margin-right: 40px;
}



