.main-form {
    margin: 200 auto;
    width: 800px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    
    border-radius: 10px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vehicle-inputs1 {
    
    max-height: 500px;
    margin-left: 560px;
    margin-top: 200px;
    transform: translate(-50%, -50%);
    width: 190px;
    
    
    
    display: flex;
    flex-direction: column;
    
}



.input-control {
   
    
    display: block;
}




#title {
    position: absolute;
    margin-top: 20px;
    margin-left: 120px;
}



.img-upload {
    position: absolute;
    margin-top: 40px;
    margin-left: 94px;
    height: auto;
    
    
}

.upl {
    
    margin-right: 40px;
}



