.main-form {
    margin: 30px auto;
    width: 500px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputs {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-control {
   
    
    display: block;
}




.title {
    position: absolute;
    margin-top: 5px;
    margin-left: 60px;
}

.close-btn {
    position: absolute;
    top: 2px;
    right: 4%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

