.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position: fixed;
    background: white;
    width: 30%;
    height: 150px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .Head {
    margin-left: 150px;
    justify-content: center;
    
  }
  .M-description {
    margin-left: 110px;
  }
  .M-btn {
    font-size: 15px;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 160px;
  }
  .M-close {
    font-size: 15px;
    margin-top: 30px;
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }