


.vehicle-list {
    margin: 30px auto;
    width: 500px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: auto;
    

   
} 

.table-items {
    width: 90px;
}
 
.add-btn {
    position: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
}



