.main-home {
    
    position: absolute;
    height: 400px;
        width: 100%;
      /* Firefox */
      display: -moz-box;
      -moz-box-pack: center;
      -moz-box-align: center;
      /* Safari and Chrome */
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      /* W3C */
      display: box;
      box-pack: center;
      box-align: center;
        
    
    
}


.vehicle-list {
    position: absolute;
    margin:120px auto;
    
    width: 700px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
   
} 
.vehicle-list h3 {
    margin-top: 20px;
}

.search-box {
    margin-top: 20px;
    margin-bottom: 40px;
}
.table-items {
    width: 200px;
}
 
.vehicles-btn {
    position: inherit;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
    .vehicle-list {
    
        margin: 130px auto;
        
        width: 67%;
        background-color: white;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
        
        border-radius: 10px;
        height: 500px;
        
        
        
    
       
    } 
}

@media only screen and (max-width: 768px) {
    .main-home {
    
        position: absolute;
        width: 100%;
        
        
        
    }
    
    .vehicle-list {
    
        margin: 110px auto;
        
        width: 67%;
        background-color: white;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
        
        border-radius: 10px;
        height: 500px;
        
        
        
    
       
    } 
}

