.main-home {
	position: inherit;
	height: 100%;
	width: 100%;
	/* Firefox */
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	/* Safari and Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;
}
.vehicle-list {
	margin: 0px auto;
	width: 780px;
	background-color: white;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: hidden;
} 
.tr {
	min-width: 600px;
}
.vehicles {
	width: 780px;
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.vehicle-list h2 {
	margin-top: 20px;
}
.search-box {
	margin-top: 20px;
	margin-bottom: 40px;
}
.search-box input {
	text-align: center;
}
.table {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 1px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 780px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.more {
	background-color: #ed5217;
	color: #fdf0eb;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 15px;
	border-radius: 40px;
	display: inline-block;
	border: 1px solid #ed5217;
	margin-top: -4px;
	
}
.vehicles-btn {
	position: inherit;
	font-size: 15px;
	margin-left: -20px;
	margin-top: 50px;
}

.card_data {
	margin-left: 250px;
}
@media only screen and (max-width: 1200px) {
.vehicle-list {
	margin: 0px auto;
	width: 680px;
	background-color: white;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	height: 600px;
} 
.card_data {
	margin-left: 200px;
}
.styled_table {
	
	min-width: 600px;
}
.table {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 1px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 680px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.vehicles {
	width: 680px;
}
}
@media only screen and (max-width: 768px) {
.main-home {
	
	width: 100%;
}
.more {
	padding: 5px 10px;
}
.card_data {
	margin-left: 50px;
}
.vehicle-list {   
	margin: 0px auto;
	width: 400px;
	background-color: white;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	height: 600px;
} 
.table {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 1px 0;
	font-size: 0.9em;
	min-width: 400px;
	font-family: sans-serif;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.vehicles {
	width: 400px;
}
}

.edit-btn {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.more-btn {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.styled_table{
	
	min-width: 300px;
}

.table thead tr {
	font-size: 14px;
	background-color: #eb7d34;
	color: white;
}
th {
	
	overflow: hidden;
}
.table td {
	font-size: 13px;
}
@media only screen and (max-width: 490px) {
	.main-home {
		
		width: 100%;
	}
	
	.card_data {
		margin-left: 10px;
	}
	.vehicle-list {   
		margin: 0px -26px;
		width: 325px;
		background-color: white;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		height: 600px;
	} 
	.table {
		table-layout: fixed;
		border-collapse: collapse;
		margin: 1px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 325px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		text-align: center;
	}
	.vehicles {
		width: 325px;
	}
	}
	
	.edit-btn {
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.more-btn {
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.styled_table{
		
		width: 200px;
	}
	
	.table thead tr {
		font-size: 14px;
		background-color: #eb7d34;
		color: white;
	}
	th {
		width: 50px;
		overflow: hidden;
	}
	.table td {
		font-size: 13px;
	}
