

.Navigation {
    background-color: lightgray;
    margin: 0 auto;
    height: 100px;
    width: 1120px;
    border: 1px solid black;
    
}

.Links {
    position: absolute;
    margin-top: 20px;
    margin-left: 260px;
    
    
}

.Welcome {
    
    background-color: #ededed;
    margin: 0 auto;
    margin-top: -23px;
    height: 750px;
    border: 1px solid black;
    
}

.carousel {
    margin-left: 160px;
    margin-top: 50px;
    width: 900px;
}
.btn-link {
    margin-right: 20px !important;
}

.Welcome h1 {
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    .Navigation {
        width: 100%;
        
    }
    .carousel {
        margin: 0 auto;
        width: 65%;
    }
}

@media screen and (max-width: 1130px) {
    .Links {
        margin-left: 10px;
        
    }
    
}

@media screen and (max-width: 430px) {
    .Welcome h1 {
        font-size: 23px;
    }
    .Navigation {
        height: 180px;
    }
    .carousel {
        margin: 0 auto;
        width: 80%;
    }
}