.Dashboard-menu {
    position: absolute;
    margin-top: 150px;
    margin-left: 225px;
    height: 100px;
    width: 200px;
    
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
}

.Dashboard-items {
    position: absolute;
    margin-top: 150px;
    margin-left: 450px;
    height: 500px;
    width: 860px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
}