

.Register {
    margin: 150px auto;
    width: 500px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



.register-form  {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Register h3 {
    position: absolute;
    font-size: 25px;
    margin-top: -5px;
    margin-left: 3%;
  }

  .Register p {
    font-size: 15px;
  }
#username {
  width: 200px;
}

#password {
  width: 200px;
}

@media screen and (max-width: 430px) {
  .Register {
   
    margin-top: 110px;
    width: 400px;
    margin-left: -2px;
    height: 450px;
  }
}

.Register h3 {
  position: absolute;
  font-size: 25px;
  margin-top: -5px;
  left: 42%;
}




@media screen and (max-width: 420px) {
  .Register {
    height: 460px;
    width: 350px;
    margin-left: -2px;
    margin-top: 130px;
  }
}
.Register h3 {
  position: absolute;
  font-size: 25px;
  top: 5%;
  left: 39%;
  
}


@media screen and (max-width: 320px) {
  
  .Register h3 {
  
    font-size: 25px;
    top: 5%;
    left: 34%;
  }
  .Register {
    
    margin-left: -10px;
    width: 310px;
    margin-top: 140px;
    height: 440px;
    
  }
}




.validate {
  font-size: 11px;
  margin: 0 auto;
  color: red;
}

